footer{
    height: 100%;
    text-align: center;
    width: 100%;
}

.footerheading{
    font-size:2.5rem;
    font-weight: bold;
    color:white;
    padding-top:3%;
    opacity:0.8;

}

.fa-3x{
    margin:0% 1.5%;
}

.fa-3x:hover{
    transition:.5s;
    color:#64dfdf;
    transform: scale(1.15);
}

.svg:hover{
    transition:.5s;
    transform:translateY(-3px) ;

}

.icons{
    padding-bottom: 5%;
}

@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .icons{
        padding-bottom: 20%;
    }

}
@media (max-width: 576px) {
    .icons{
        padding-bottom: 20%;
    }
}